* {
    font-weight: 100;
}
.vehicle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    min-width: 300px;
    min-height: 250px;
    margin: 15px;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
